---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import TagCategoryBlock from "../../components/TagCategoryBlock.astro";
import { getCollection } from "astro:content";
// 1. コレクションエントリーごとに新しいパスを生成
export async function getStaticPaths() {
	const blogEntries = await getCollection("blog");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}
// 2. テンプレートでは、プロパティからエントリーを直接取得できる
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} ogpImageURL={entry.data.thumbnail} description={entry.data.description}>
	<Breadcrumb lists={[{ name: "Blogs", path: "blog" }, {name: entry.data.title}]} />
	<h1>{entry.data.title}</h1>
	<Content />
	<TagCategoryBlock data={[{tags: entry.data.tags, categories: entry.data.categories, type: 'blog'}, {name: entry.data.title}]} >
</Layout>
