html {
    font-family: "Noto Sans JP", "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* background-color: white; */
    background-color: #f5f5f3;
}

body,
.links p a {
    color: #636363;
    word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
}

.container {
    max-width: 66.4989378333em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.617924em;
    box-sizing: content-box;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 3px;
}

.entry-title a {
    text-decoration: none;
    color: #333333;
}

.entry-title {
    margin-top: 0;
}

.posted-on {
    color: #6d6d6d;
}

h1 {
    font-size: 1.6rem;
}

aside {
    margin: 1.41575em 0 0;
    margin-bottom: 2.617924em;
    padding-top: 1em;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

ul,
ol {
    margin: 0 0 1.41575em 1.8em;
    padding: 0;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1em;
}

li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.post {
    margin-bottom: 4.235801032em;
}

.cat-links a,
.tag-links a {
    color: #727272 !important;
    font-weight: 600;
    text-decoration: underline;
}

.product-container a {
    display: flex;
    margin-bottom: 1em;
    text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
    .product-container:hover {
        margin-left: 0.5em;
        background-color: #ebe9e5;
    }
}

.product-data {
    display: flex;
    align-items: center;
}

.product-title {
    margin: 0;
}

.description {
    color: #6d6d6d;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.product-category-tag {
    color: #6d6d6d;
    margin: 0.5em 0;
}

.product-data a {
    text-decoration: none;
}

.product-thumbnail {
    width: 30%;
    height: 180px;
    object-fit: cover;
    margin-right: 2em;
}

.product-posted-on {
    color: #6d6d6d;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 1em;
    }

    .product-container a {
        display: block;
        margin-bottom: 1em;
        text-decoration: none;
        background-color: #ebe9e5;
    }

    .product-thumbnail {
        width: 100%;
        height: 180px;
        object-fit: cover;
        margin-right: 2em;
    }

    .product-category-tag,
    .product-posted-on {
        display: none;
    }

    .product-data {
        padding: 0.5em;
    }

    .description {
        margin-bottom: 0.5em;
    }
}

blockquote {
    color: #7f7f7f;
    background-color: #eaeaea;
    padding: 8px 16px;
    position: relative;
    margin: 24px 0;
}

blockquote::before {
    background-color: #c5c5c5;
    border-radius: 4px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

blockquote>:last-child {
    margin-bottom: 0;
}

blockquote>:first-child {
    margin-top: 0;
}

.flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex2 img {
	width: 50%;
    height: auto;
}