<footer class="site-footer">
    <div class="container">
        <div class="site-info">@ALINCOLONY 2025</div>
    </div>
</footer>

<style>
    .site-footer {
        position: sticky;
        top: 100vh;
        width: 100%;
        background-color: #ebe9e5;
        color: #6d6d6d;
        padding: 1.618em 0 3.706325903em;
    }
</style>
