<header class="site-header">
    <div class="container">
        <div class="head-container">
            <div class="site-branding">
                <h1 class="site-title"><a href="/">ALINCOLONY</a></h1>
            </div>
            <div class="navs">
                <a href="/" class="menu-item">Home</a>
                <a href="/about" class="menu-item">About</a>
                <a href="/blog" class="menu-item">Blogs</a>
                <a href="/product" class="menu-item">Products</a>
            </div>
        </div>
    </div>
</header>

<style>
    a {
        text-decoration: none;
        color: #333333;
    }

    .head-container {
        display: flex;
        align-items: center;
    }

    .site-header {
        background-color: #d8d8d8;
        padding-top: 2.617924em;
    }

    .site-branding {
        /* margin-right: 4.347826087%; */
        /* margin-bottom: 1em; */
    }

    .site-title {
        font-weight: 700;
        margin: 0;
    }

    .navs {
        display: flex;
        margin-left: auto;
    }

    .menu-item {
        display: block;
        font-size: 18px;
        font-weight: bold;
        padding: 1.618em 0.6em 1.618em 0.6em;
        margin-right: 0.6em;
    }

    @media screen and (max-width: 960px) {
        .head-container {
            display: block;
        }
        .menu-item {
            padding: 1.618em 0.6em 1.618em 0;
        }
    }

    @media screen and (max-width: 520px) {
    }
</style>
