<header class="site-header">
    <div class="container">
        <div class="head-container">
            <div class="site-branding">
                <!-- <h1 class="site-title"><a href="/">ALINCOLONY</a></h1> -->
                <a href="/">
                    <!--?xml version="1.0" encoding="UTF-8"?-->
                    <svg
                        id="title-logo"
                        data-name="title-logo"
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        viewBox="0 0 1200 240"
                        width="230"
                        fill="#333333"
                        class="title-logo"
                    >
                        <!-- Generator: Adobe Illustrator 29.3.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 151)  -->
                        <text></text>
                        <g>
                            <path
                                d="M91.62,169.23h-47.88l-6.52,14.95H0L59.57,54.38h16.15l59.65,129.8h-37.3l-6.44-14.95ZM80.81,144.34l-13.12-30.38-13.2,30.38h26.33Z"
                            ></path>
                            <path
                                d="M231.28,152.21v31.97h-83.11V55.98h34.04v96.24h49.07Z"
                            ></path>
                            <path d="M245.76,55.98h34.04v128.21h-34.04V55.98Z"
                            ></path>
                            <path
                                d="M412.86,55.82v129.64h-10.82l-65.93-63.87v62.67h-34.04V54.7h10.98l65.69,63.63v-62.51h34.12Z"
                            ></path>
                            <path
                                d="M429.56,120.08c0-37.94,30.7-67.13,70.63-67.13,16.54.24,34.28,7.48,47.4,19.41l-19.57,25.13c-7.87-7.16-18.29-11.85-27.76-11.85-19.72,0-36.19,15.03-36.19,34.68s17.18,34.52,35.47,34.52c10.74,0,20.36-5.09,28.63-12.49l19.41,25.85c-12.25,11.13-28.55,18.85-48.04,18.85-36.19,0-69.99-26.72-69.99-66.97Z"
                            ></path>
                            <path
                                d="M556.49,120.24c0-38.49,30.54-67.68,70.39-67.68s70.39,29.19,70.39,67.68-30.54,67.21-70.47,67.21-70.31-29.03-70.31-67.21ZM662.83,120c0-19.8-15.59-35.07-35.95-35.07s-35.95,15.27-35.95,35.07,15.59,34.92,35.95,34.92,35.95-15.19,35.95-34.92Z"
                            ></path>
                            <path
                                d="M797.08,152.21v31.97h-83.11V55.98h34.04v96.24h49.07Z"
                            ></path>
                            <path
                                d="M805.99,120.24c0-38.49,30.54-67.68,70.39-67.68s70.39,29.19,70.39,67.68-30.54,67.21-70.47,67.21-70.31-29.03-70.31-67.21ZM912.33,120c0-19.8-15.59-35.07-35.95-35.07s-35.95,15.27-35.95,35.07,15.59,34.92,35.95,34.92,35.95-15.19,35.95-34.92Z"
                            ></path>
                            <path
                                d="M1074.26,55.82v129.64h-10.82l-65.93-63.87v62.67h-34.04V54.7h10.98l65.69,63.63v-62.51h34.12Z"
                            ></path>
                            <path
                                d="M1126.59,128.83l-39.53-72.85h38.57l17.9,37.14,17.82-37.14h38.65l-39.61,72.85v55.36h-33.8v-55.36Z"
                            ></path>
                        </g>
                    </svg></a
                >
            </div>
            <div class="navs">
                <a href="/" class="menu-item">Home</a>
                <a href="/about" class="menu-item">About</a>
                <a href="/blog" class="menu-item">Blogs</a>
                <a href="/product" class="menu-item">Products</a>
            </div>
        </div>
    </div>
</header>

<style>
    a {
        text-decoration: none;
        color: #333333;
    }

    .head-container {
        display: flex;
        align-items: center;
    }

    .site-header {
        background-color: #c6beb9;
        padding-top: 2.617924em;
    }

    .site-branding {
        /* margin-right: 4.347826087%; */
        /* margin-bottom: 1em; */
    }

    .site-title {
        font-weight: 700;
        margin: 0;
    }

    .navs {
        display: flex;
        margin-left: auto;
    }

    .menu-item {
        display: block;
        font-size: 18px;
        font-weight: bold;
        padding: 1.618em 0.6em 1.618em 0.6em;
        margin-right: 0.6em;
    }

    @media screen and (max-width: 960px) {
        .head-container {
            display: block;
        }
        .menu-item {
            padding: 1.618em 0.6em 1.618em 0;
        }
    }

    @media screen and (max-width: 520px) {
    }
</style>
