---
const { url, title } = Astro.props;
---

<div class="sns-share">
  <a
    class="tw_share"
    href=`http://twitter.com/share?url=${url}&text=${title}`
    target="_blank"
    rel="nofollow noopener noreferrer"
  >
    <svg
      width="1200"
      height="1227"
      viewBox="0 0 1200 1227"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
        fill="white"></path>
    </svg>
  </a>
</div>

<style>
  .sns-share {
    margin-top: 2em;
  }

  .tw_share {
    padding: 0.1em 3em;
    padding-top: 0.3em;
    background-color: #9c9693;
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    border-style: none;
    border-radius: 20px;
  }

  .tw_share svg {
    width: 14px;
    height: 14px;
  }

  @media (hover: hover) and (pointer: fine) {
    .tw_share:hover {
      opacity: 0.7;
      color: #fff;
    }
  }
</style>
